<!DOCTYPE html>
<header class="header">
  <nav class="header__nav">
      <ul class="header__list">
          <li class="header__item"><a class="header__link" href="index.html">Home</a></li>
          <li class="header__item"><a class="header__link" href="privacy-policy.html">Privacy Policy</a></li>
          <li class="header__item"><a class="header__link" href="cookie-policy.html">Cookie Policy</a></li>
          <li class="header__item"><a class="header__link" href="blog.html">Blog</a></li>
      </ul>
  </nav>
</header>
